<h1>Seja Bem-Vindo</h1>
<p>
    Jeferson Duarte
</p>

<p> A soma é: <%=  1+1 %> </p>
<p> Seu nome de trás pra frente é: <%= "Jeferson".reverse %> </p>
<% ax = "minha variavel a"%>
<p>Iprimindo a varial a: <%= ax %></p>
<p>A data de hoje é: <%= Date.today %></p>

